$font-small: 13px;
$font-normal: 1rem;
$font-big: 1.8rem;
$font-large: 2.3rem;

$primary-color: #3bc8f5;
$grey-color: #262626;
 
$background-color : linear-gradient(
    135deg, #08c1ef 0%, #6dcf73 100%);