@import "mixins";
@import "variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

.c-pointer{
    cursor: pointer;
}

.nav-main{
width: 100%;
position: relative;
padding: 25px 0px;
    background-color: white;
    box-shadow: 0 0 15px 0 #6c757d;
    z-index: 1;

    


.navcontainer{
    width: 97%;
    margin: 0 auto;
    @include flexprop;
    

    

    @include smallDesktops{
       flex-direction: column;
       
       }
    }


    .navLinks_and_btns{
        width: 100%;
        @include flexprop;
        justify-content: space-between;
        
        @include smallDesktops1050{
            flex-direction: column;
        }

        .homebar-conainer{
            left: 10px;
        
            #homebar{
                display: none;
            }
            .hombarButton{
                font-size: 30px;
                color: $grey-color;
                display: none;
                margin-top: -30px;
    
                @include tablet{
                    display: block;
                    
                    }
            }
    }

    .nav-li-a{
        color: $grey-color;
        @include navfontsize;

        &:hover{
            color: $primary-color;
            transition: all .3s ease;
        }
    }
    
    
}

.nav-mainbtn{
    gap: 32PX;
    padding: 20px 0;
    margin-left: 50px;
    li{
        white-space: nowrap;
        @include tablet{
            padding: 8px 0px;
            
            }
    }
    @include tablet{
        display: block;
        
        }
    
}
.navloginbtn{
    @include flexprop;
    gap: 22px;
    li{
        
        button{
            width: 87px;
            height: 34px;
            border: none;
            border-radius: 20px;
            color: white;
            background-color: $primary-color;

            i{
                margin-left: 6px;
            }
            &:hover{
                background-color: #68d1f5;
                transition: all .3s ease;
            }
        }
    }
    
    .share-button-pop{
        display: none;
        width: 45%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        box-shadow: 9px 2px 10px #000000a6;

        .share-button-pop-text{
            padding: 35px;
            color: white;
            background-color: $primary-color;
        }
        .share-button-pop-social{
            padding: 20px;
            background-color: white;
            
            p{
                font-size: $font-big;
                color: $grey-color;
            }
            .share-button-social-icon{
                color: $primary-color;
                font-size: 3rem;
                i{
                    margin-left: 15px;
                    margin-top: 20px;
                    &:first-child{
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    .en-nav-btn{
        font-size: $font-small;
        @include flexprop;
        i{
            font-size: 30px;
            margin-right: 5px;
        }
        
    }
    
}
}

//hero-section
.hero-section{
    width: 100%;
    background: $background-color;
    overflow: hidden;
    
    

    

    .hero-section-cont{
        width: 90%;
        margin: 0 auto;
        padding: 80px 0px;

        @include tablet{
            width: 100%;
            padding: 20px 0px;
            }

            @include mobile{
                width: 100%;
                padding: 5px 0px;
                
                }
        
    @include flexprop;
    
        .hero-section-content{
            text-align: left;
            margin: 0 auto;

            @include mobile{
                width: 100%;
                flex-direction: column;
                z-index: 2;
                margin: 50px 0px;

                @include flexpropJustify;
                }
                

            
            p{
                font-size: 24px;
            }
            
            .hero-section-text{
                margin: 30px 0px;
                font-weight: 300;
                letter-spacing: 3px;
                color: white;

                @include mobile{
                    margin: 15px 0px;
                }
            }

            .hero-section-heading{
                font-size: 48px;

                @include mobile{
                    font-size: 36px;
                    font-weight: 300;
                }
            }
            .hero-section-button{
                color: white;
                background-color: #b7db2a;
                border: none;
                padding: 15px 25px;
                border-radius: 20px;
                &:hover{
                background-color: #caec41;
                transition: all .3s ease;
    
                }
            }

            @include tablet{
                width: 100%;
                margin-left: 10px;
                position: relative;
                
                }

                @include mobile{
                    width: 100%;
                    
                    }

                
        }
        .hero-section-img{
            @include tablet{
                width: 90%;
                opacity: .5;
                position: relative;
                right: -120px;
                
                }


                @include mobile{
                    width: 50%;
                opacity: .5;
                position: absolute;
                right: -90px;
                overflow: hidden;
                    }
        }
    }
}

//hero-section


//what-is

.what-is{
    width: 100%;
    text-align: center;
    margin: 80px 0px;

    .what-is-heading{
        h1{
            font-size: 48px;
            font-weight: 300;
            letter-spacing: 3px;
        }
    }

    .what-is-ul-container{
        width: 100%;
        @include flexprop;
        justify-content: center;
        margin: 40px 0px;

        .what-is-ul{
            width: 80%;
        @include flexprop;
        justify-content: space-between;
        position: relative;
            .what-is-li{
                @include flexprop;
                flex-direction: column;
                font-size: $font-small;
                &::after {
                    position: absolute;
                    content: '';
                    border-top: 3px red dotted;
                    left: 146px;
                    bottom: 80px;
                    width: 60px;
                }


                .what-is-li-icon{
                    width: 100px;
                    height: 100px;
                    transition: transform .3s;
                    @include flexprop;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #3bc7f5bd;
                    margin: 20px 0px;
                    
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }

    }
}

//what-is

 